<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <h2>{{screamIt welcomeMessage}}</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste minus ipsa commodi, numquam voluptatum quis.
        Natus tempore ipsa sequi minima, veritatis sint voluptates similique consequatur consequuntur, in adipisci a
        mollitia minus, voluptatum quos quis ratione doloribus quod nam reiciendis porro.</p>

    {{> footer}}
</body>

</html>